nav {
    /* display:none; */
    position: fixed;
    min-width: 200px;
    height: 100%;
    margin-left: -200px;
    transition: 0.5s;
    background: #212121;
    color:white;
    padding-top: 20px;
}
nav ul li {
    list-style: none;
    padding:2.5px 0px;
    cursor: pointer;
}

nav ul li:hover {
    color:grey;
}
button {    
    display: inline;
    position: fixed;
    border: none;
    color:white;
    background:#212121;
    padding: 10px 20px;
}

button:focus {
    outline:0;
}
